<!DOCTYPE html>
<html>
  <head>
    <style>
@page {
  size: auto;
  header: html_DefaultHeader;
  footer: html_DefaultFooter;
}

body {
  font-family: thsarabun;
}

.cl-title {
  text-align: center;
}

.cl-header {
  text-align: right;
  border-bottom: 1px solid #000000;
  font-weight: bold;
  font-size: 10pt;
}

.cl-logo {
  width: 120px;
}

table.data-list {
  width: 100%;
  border-collapse: collapse;
}

table.data-list th,
table.data-list td {
  border: 1px solid black;
}

.cl-code,
.cl-number {
  font-family: monospace;
  font-size: 0.60em;
}

.cl-number {
  text-align: right;
}

.cl-layout-cell {
  margin: 0;
  padding: 0;
}

table.cl-collapse,
table.cl-layout-cell {
  border-collapse: collapse;
}

.cl-labeled-cell {
  text-align: right;
  font-weight: normal;
}

.cl-bordered-cell {
  border: 1px solid black;
}

.cl-strong {
  font-weight: bold;
}
    </style>
  </head>
  <body>
      <htmlpageheader name="DefaultHeader">
        <div class="cl-header cl-code">
          <table width="100%" style="vertical-align: bottom; color: #000000; font-weight: bold;">
            <tr>
              <td style="width: 33%; text-align: left;"><span style="font-weight: bold;">created by CONSOL</span></td>
              <td style="text-align: center; font-weight: bold;">{{ model.status }}</td>
              <td style="width: 33%; text-align: right;"><span class="cl-code">{{ model.code }}</span></td>
            </tr>
          </table>
        </div>
      </htmlpageheader>

      <htmlpagefooter name="DefaultFooter" class="cl-footer">
          <table width="100%" style="vertical-align: bottom; color: #000000; font-weight: bold;">
              <tr>
                  <td style="width: 33%; text-align: left;"><span style="font-weight: bold;">{{ "now"|date('d/m/Y H:i:s') }}</span></td>
                  <td style="text-align: center; font-weight: bold;">{PAGENO}/{nbpg}</td>
                  <td style="width: 33%; text-align: right;">FM-PO-rev1.0</td>
              </tr>
          </table>
      </htmlpagefooter>

      <h1 class="cl-title">ใบรับสินค้า (GOODS RECEIPT)</h1>
      <table style="width: 100%;">
        <tr>
          <td style="width: 100px;">
{% if profile.logo %}
            <img class="cl-logo" src="var:logo" />
{% endif %}
          </td>
          <td>
{% include '@ErpDocument/template/company-profile.twig' with profile only %}
          </td>
          <td style="width: 180px;">
            <table style="width: 100%;">
              <tr>
                <td class="cl-labeled-cell cl-strong">เลขที่เอกสาร :</td>
                <td class="cl-code">{{ model.code }}</td>
              </tr>
              <tr>
                <td class="cl-labeled-cell cl-strong">อ้างอิงภายใน :</td>
                <td class="cl-code">{{ model.transferOf.code ?? '' }}</td>
              </tr>
              <tr>
                <td class="cl-labeled-cell cl-strong">อ้างอิงภายนอก :</td>
                <td class="cl-code"></td>
              </tr>
              <tr>
                <td class="cl-labeled-cell cl-strong">วันที่ออกเอกสาร :</td>
                <td class="cl-code">{{ model.tstmp|date('d/m/Y') }}</td>
              </tr>
              <tr>
                <td class="cl-labeled-cell cl-strong">วันที่ส่งสินค้า:</td>
                <td class="cl-code">{{ model.deliveryDate|date('d/m/Y') }}</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table style="width: 100%;">
        <tr>
          <td style="width: 50%; vertical-align: top;">
            <table style="width: 100%;">
              <tr>
                <td style="font-weight: bold; text-align: right;">โครงการ :</td>
                <td>{{ [model.project.code ?? false, model.project.name ?? false]|vfilter(false, true)|join(' ') }}</td>
              </tr>
              <tr>
                <td style="font-weight: bold; text-align: right;">ที่อยู่จัดส่ง :</td>
                <td>{{ model.shippingAddress }}</td>
              </tr>
              <tr>
                <td style="font-weight: bold; text-align: right;">ผู้ติดต่อ :</td>
                <td>{{ model.contactInformation }}</td>
              </tr>
            </table>
          </td>
          <td style="width: 50%; vertical-align: top;">
            <table style="width: 100%;">
              <tr>
                <td style="font-weight: bold; text-align: right;">ผู้ขาย :</td>
                <td>{{ [ model.vendor.code ?? false, model.vendor.name ?? false ]|vfilter(false, true)|join(' ') }}</td>
              </tr>
              <tr>
                <td style="font-weight: bold; text-align: right;">ที่อยู่ผู้ขาย :</td>
                <td>{{
                  [
                    model.vendor.owner.address.address ?? false,
                    (model.vendor.owner.address.subdistrict ?? false)|sformat('%s'),
                    (model.vendor.owner.address.district ?? false)|sformat('%s'),
                    (model.vendor.owner.address.province ?? false)|sformat('%s'),
                    model.vendor.owner.address.postalcode ?? false,
                  ]|vfilter(false, true)|join(' ')
                }}</td>
              </tr>
              <tr>
                <td style="font-weight: bold; text-align: right;">ผู้ติดต่อ :</td>
                <td>{{ model.vendorContactInformation }}</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table class="data-list">
        <thead>
          <tr>
            <td colspan="5" style="border: none;"></td>
            <th style="border: none; width: 6em;">(ราคา : บาท)</td>
          </tr>
          <tr>
            <th style="width: 2em;">ลำดับ</th>
            <th>รายการ</th>
            <th style="width: 4em;">หน่วย</th>
            <th style="width: 5em;">ราคา/หน่วย</th>
            <th style="width: 5em;">ปริมาณสินค้าที่รับ</th>
            <th style="width: 6em;">ราคารวม</th>
          </tr>
        </thead>
        <tbody>
{% for detail in model.details if (detail.statusChanged|default is null) or (not detail.statusChanged.removed) %}
          <tr>
            <td style="text-align: center;">{{ loop.index }}</td>
            <td>{{ detail.costItem.name ?? '' }}</td>
            <td style="text-align: center;">{{ detail.costItem.unit ?? '' }}</td>
            <td class="cl-number">{{ detail.price|number_format(2) }}</td>
            <td class="cl-number">{{ detail.quantity|number_format(2) }}</td>
            <td class="cl-number">{{ (detail.price * detail.quantity)|number_format(2) }}</td>
          </tr>
{% endfor %}
        </tbody>
      </table>
      
      <div style="position: fixed; bottom: 0px;">
        <table class="cl-layout-cell" style="width: 100%;">
          <tr>
            <td class="cl-layout-cell" style="width: 50%; text-align: center">
              <table class="cl-layout-cell">
                <tr>
                  <td>ผู้รับของ</td>
                </tr>
                <tr>
                  <td>_________________________</td>
                </tr>
                <tr>
                  <td>({{ origin.creator.name ?? '_________________________' }})</td>
                </tr>
                <tr>
                  <td>{{ (origin.tstmp ?? false)? origin.tstmp|date('d/m/Y') : '____/____/____' }}</td>
                </tr>
              </table>
            </td>
            <td class="cl-layout-cell" style="width: 50%; text-align: center">
{% if model.approved %}
              <table class="cl-layout-cell">
                <tr>
                  <td>ผู้ตรวจสอบ</td>
                </tr>
                <tr>
                  <td>_________________________</td>
                </tr>
                <tr>
                  <td>({{ model.creator.name ?? '_________________________' }})</td>
                </tr>
                <tr>
                  <td>{{ (model.tstmp ?? false)? origin.tstmp|date('d/m/Y') : '____/____/____' }}</td>
                </tr>
              </table>
{% endif %}
            </td>
          </tr>
        </table>
      </div>
  </body>
</html>
